<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/accounts">View All Users</a>
        <a href="/">Back to Home Page</a>
        <a href="/auth/signout">Sign Out</a>
    </nav>
    <% if (user._id.toString() === loggedInUserId.toString()) { %>
        <h1>Welcome, <%= user.username %>! This is your Favorite Songs List.</h1>
    <% } else { %>
        <h1>Welcome to the favorite songs of <%= user.username %>.</h1>
    <% } %>
    <% if (user._id.toString() === loggedInUserId.toString()) { %>
        <h2>List of songs in your favorites:</h2>
        <% } else { %>
            <h2>List of songs in their favorites:</h2>
        <% } %>
    
    <% if (user.favorites.length > 0) { %>
        <ul>
            <% user.favorites.forEach(song => { %>
                <li><a href="/users/<%= user._id %>/songs/<%= song._id %>"><%= song.name %> - <%= song.artist %></a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Favorites list is empty.</p>
    <% } %>
    <% if (user._id.toString() === loggedInUserId.toString()) { %>
        <a href="/users/<%= user._id %>/songs/new">Add song to favorites</a>
    <% } %>
</body>
</html>