<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Back to Home Page</a>
        <a href="/auth/signout">Sign Out</a>
        </nav>
    <h1>Welcome, <%= user.username %>! This is your Favorite Songs List.</h1>
    <h2>List of songs in the favorites:</h2>
    <% if (user.favorites.length > 0) { %>
        <ul>
            <% user.favorites.forEach(song => { %>
                <li><a href="/users/<%= user._id %>/songs/<%= song._id %>"><%= song.name %> - <%= song.artist %></a></li>
            <% }) %>
        </ul>
        <% } else { %>
            <p>Your favorites is empty.</p>
    <% } %>
    <a href="/users/<%= user._id %>/songs/new">Add song to favorites</a>
</body>
</html>